
body{
	background-color: #f1f1f1;
}::-moz-selection{
	color:#fff;
	background:#ea4c89;
}::selection{
	color:#fff;
	background:#ea4c89;
}
.gradient{
    background: -moz-linear-gradient(top, #195880 0%, #003348 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#195880), color-stop(100%,#003348));
    background: -webkit-linear-gradient(top, #195880 0%,#003348 100%);
    background: -o-linear-gradient(top, #195880 0%,#003348 100%);
    background: -ms-linear-gradient(top, #195880 0%,#003348 100%);
    background: linear-gradient(to bottom, #195880 0%,#003348 100%);
}

.module{
	width: 1280px;
}
.header{
	height: 80px;
	padding: 20px 0;
	background-color: #fff;
}
.blog-title{
	margin-top: 5px;
	color: #333;
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 3px;
}
.blog-note{
	font-size: 14px;
	color: #666;
}
.nav{
	background-color:#195880;
}
.nav .menu{
	float: left;
}
.nav .menu a{
	width: 120px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	display: block;
	transition: all .5s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.nav .menu a:hover{
	background-color: rgba(255,255,255,.2);
	*background-color: #2f96b4;
}
.main{
	margin-top: 20px;
}
.main .lay-left{
	width: 900px;
	min-height: 100px;
	margin-right: 20px;
}
.main .lay-right{
	width: 340px;
}
.article{
	background-color: #fff;
}
.subs{
	width: 345px;
	height: 190px;
	background-color: #fff;
}
.subs .ad-box{
	height: 170px;
	padding: 10px;
	text-align: center;
	border-bottom: 3px solid #ddd;
	border-right: 3px solid #ddd;
}
.article{
	padding: 15px 20px;
	margin-bottom: 10px;
}
.article .hd .title{
	font-size: 28px;
	line-height: 40px;
	padding-bottom: 10px;
}
.article .hd .title,.article .hd .title a{
	color:  #2f96b4;
}
.article .hd .info{
	color: #666;
	font-size: 12px;
	line-height: 18px;
	border-top: 1px dashed #eee;
	/* border-bottom: 1px dashed #eee; */
	padding: 15px 0 5px;
}
.article .hd .info>.left{
	margin-right: 10px;
}
.article .hd .info .tag a{
	padding: 4px 8px;
	margin-left: 5px;
	border-radius: 3px;
	color: #fff;
	background-color: #aaa;
}
.article .bd .summary{
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 22px;
	max-height: 108px;
	overflow: hidden;
}
.article .bd .view-all{
	padding: 5px 12px;
	border-radius: 3px;
	color: #fff;
	background-color: #2f96b4;
}
li{
	list-style: none;
}


.article .bd .summary.all{
	max-height: none;
}
