<div class="nav gradient" id=nav>
	<div class="module">
		<dl class="menu-list clear">
			<dd class="menu">
				<a href="{~index}/">
					首页
				</a>
			</dd>
			<dd class="menu">
				<a href="{~index}/index/tag/js">
					JS
				</a>
			</dd>
			<dd class="menu">
				<a href="{~index}/index/tag/css">
					CSS
				</a>
			</dd>
			<dd class="menu">
				<a href="{~index}/index/tag/html5">
					HTML5
				</a>
			</dd>
			<dd class="menu">
				<a href="{~index}/index/tag/php">
					PHP
				</a>
			</dd>
			<dd class="menu">
				<a href="{~index}/index/tag/nodejs">
					NODEJS
				</a>
			</dd>
			<dd class="menu">
				<a href="{~index}/index/tag/all">
					标签
				</a>
			</dd>
			<dd class="menu">
				<a href="{~index}/index/create">
					new
				</a>
			</dd>
		</dl>
	</div>
</div>